{block}
<form n:name="imageForm" class="form-manage">
    <fieldset>
        <legend>Obrázky</legend>
        {formErrors}
        <div class="form-group">
            {label image /}
            {input image, class => "form-control"}
        </div>
    </fieldset>

    <input n:name="send" class="btn btn-primary">
</form>