@import "bootstrap-social.css";
/**
 * Common ======================================================================
 */
body {
  padding-top: 70px;
}
footer {
  margin: 20px 0 50px 0;
}
/**
 * Book-list ===================================================================
 */
#book-list .slide-image {
  width: 100%;
}
#book-list .carousel-holder {
  margin-bottom: 30px;
}
#book-list .carousel-control,
#book-list .item {
  border-radius: 4px;
}
#book-list .caption {
  height: 130px;
  overflow: hidden;
}
#book-list .caption h4 {
  white-space: nowrap;
}
#book-list .thumbnail img {
  max-width: 150px;
  margin: 15px auto 0 auto;
}
#book-list .ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}
#book-list .thumbnail {
  padding: 0;
}
#book-list .thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
/**
 * Font-awesome ================================================================
 */
.fa-2 {
  font-size: 1.5em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}
/**
 * Sign-in =====================================================================
 */
form.sign-in {
  margin: 20px;
  width: 250px;
}
/**
 * Manage ======================================================================
 */
form.form-manage {
  margin: 0 0 20px 0;
}
/**
 * Responsive-480px ============================================================
 */
@media (max-width: 768px) {
  div.container div.row div.col-md-9 {
    margin-top: 15px;
  }
  .navbar-nav .open .dropdown-sign {
    background: #fff;
  }
  .navbar-nav .open .dropdown-sign form {
    width: 95%;
  }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 430px;
  }
}
/**
 * Responsive-768px ============================================================
 */
@media (max-width: 768px) {
  #book-list .thumbnail img {
    max-width: 100px;
  }
}
