/**
 * Common ======================================================================
 */

body {
  padding-top: 70px;
}

footer {
  margin: 20px 0 50px 0;
}

/**
 * Book-list ===================================================================
 */

#book-list {
  .slide-image {
    width: 100%;
  }

  .carousel-holder {
    margin-bottom: 30px;
  }

  .carousel-control,
  .item {
    border-radius: 4px;
  }

  .caption {
    height: 130px;
    overflow: hidden;
  }

  .caption h4 {
    white-space: nowrap;
  }

  .thumbnail img {
    max-width: 150px;
    margin: 15px auto 0 auto;
  }

  .ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
  }

  .thumbnail {
    padding: 0;
  }

  .thumbnail .caption-full {
    padding: 9px;
    color: #333;
  }
}

/**
 * Sign-in =====================================================================
 */
form.sign-in {
  margin: 20px;
  width: 250px;
}

/**
 * Manage ======================================================================
 */
form.form-manage {
  margin: 0 0 20px 0;
}

/**
 * Responsive-768px ============================================================
 */
@media (max-width: 768px) {
  #book-list .thumbnail img {
    max-width: 100px;
  }
}

