@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800);
@import "bootstrap-social.css";
@import "../../vendor/colorbox/colorbox.css";

/**
 * Common ======================================================================
 */

body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

footer {
  margin: 20px 0 50px 0;
}

/**
 * Layout ======================================================================
 */

.sidebar {
  .social-facebook {
    text-align: center;
    margin: 2px 0 8px 0;
  }
}

/**
 * Book-list ===================================================================
 */

#book-list {

  h3 {
    padding: 0 9px;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 0 0;
  }

  .btn-price {
    border-radius: 0;
    padding: 3px 0;
  }

  .thumbnail img {
    max-width: 105px;
    max-height: 140px;
    margin: 10px auto 0 auto;
  }

  .ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
  }

  .price {
    display: inline-block;
    font-size: 20px;
    line-height: 150%;
    margin: 5px 0 0 5px;
    padding: 4px 8px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: #3a87ad;
  }

  .image {
    line-height: 150px;
    height: 150px;
    text-align: center;
  }

  .image img {
    display: inline;
    vertical-align: middle;
  }

  .wear {
    display: inline-block;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
    color: #b1240c;
  }

  .thumbnail {
    padding: 0;
    height: 250px;
    position: relative;
    background: #fafafa;
  }

}

/**
 * Font-awesome ================================================================
 */
.fa-2 {
  font-size: 1.5em;
}

.fa-3 {
  font-size: 4em;
}

.fa-4 {
  font-size: 7em;
}

.fa-5 {
  font-size: 12em;
}

.fa-6 {
  font-size: 20em;
}

/**
 * Sign-in =====================================================================
 */
form.sign-in {
  margin: 20px;
  width: 250px;
}

/**
 * Manage ======================================================================
 */
form.form-manage {
  margin: 0 0 20px 0;
}

/**
 * Responsive-768px ============================================================
 */
@media (max-width: 768px) {
  div.container div.row div.col-md-9 {
    margin-top: 15px;
  }

  .navbar-nav .open .dropdown-sign {
    background: #fff;
    form {
      width: 95%;
    }
  }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 430px;
  }

  #book-list .thumbnail img {
    max-width: 100px;
  }

}

/**
 * Responsive-992px ============================================================
 */
@media (max-width: 992px) {
  div.container div.row div.col-md-9 {
    margin-top: 15px;
  }
}