################################################################################
#
# Low-level nette config
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
parameters:

includes:
	- engine.neon

php:
	date.timezone: Europe/Prague

application:
	catchExceptions: %productionMode%
	errorPresenter: %system.errorPresenter%
	mapping:
		*: App\*\*Presenter

tracy:
	email: sulcmil@gmail.com
	strictMode: TRUE

latte:
	xhtml: FALSE

session:
	debugger: true
	expiration: 14 days
	autoStart: smart

di:
	debugger: true

