################################################################################
#
# Application
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
parameters:

    # System settings
    system:
        errorEmail: sulcmil@gmail.com
        errorPresenter: Front:Error

    # Site settings
    site:
        domain: burza.grk.cz
        emailName: Burza GRK

        email:
            from: robot@burza.grk.cz
            to: rkfelix@gmail.com
            returnPath: rkfelix@gmail.com

    # Deploy settings
    deploy:
        rev: 23062015

    # Dirs
    # appDir, libsDir, tempDir, logDir -> already configured
    dirs:
        storage: %wwwDir%/uploads
        webtemp: %wwwDir%/temp

    # Paths
    paths:
        storage: uploads
        webtemp: temp

services:
    nette.userStorage:
        setup:
            - setNamespace(GFMP/Burza)