################################################################################
#
# Forms
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
services:
	- App\Front\Manage\Forms\IBookFormFactory

	- App\Front\Manage\Forms\IImageFormFactory

