################################################################################
#
# Forms
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
services:
	- class: App\Manage\Forms\BookForm(@App\Model\ORM\Orm::categories)
	  implement: App\Manage\Forms\IBookFormFactory

	- class: App\Manage\Forms\ImageForm
	  implement: App\Manage\Forms\IImageFormFactory

