################################################################################
#
# Model
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
services:
    authenticator.site:
        class: App\Model\Security\SiteAuthenticator
    authenticator.facebook:
        class: App\Model\Security\FacebookAuthenticator

    security.user: Nette\Security\User(..., @App\Model\Security\SiteAuthenticator, ...)

    - App\Model\ORM\Service\RouterService

    - class: App\Model\Image\ImageConfig
      factory: @App\Model\Image\ImageConfigFactory::create()

    - App\Model\Image\ImageConfigFactory(..., %wwwDir%, %dirs.storage%, %dirs.webtemp%)
    - App\Model\Image\ImageManager
    - App\Model\Image\ImageService
    - App\Model\Image\ImageFilter