################################################################################
#
# Services
#
# @package burza.grk.cz
# @author Milan Felix Sulc <sulcmil@gmail.com>
# @version $$REV$$
#
services:

	# Routing ==============================================
	routerFactory: App\Routing\RouterFactory
	router: @routerFactory::create

	# Facebok ==============================================
	facebook: App\Model\Facebook\FacebookService(..., %facebook.appId%, %facebook.appSecret%)

	# Config ===============================================
	config.portal:
		class: App\Core\Config\PortalConfig
		factory: App\Core\Config\PortalConfig::factory
		arguments: {[
			consoleMode: %consoleMode%
			debugMode: %debugMode%
			system: %system%,
			site: %site%,
			deploy: %deploy%,
			paths: %paths%,
			dirs: %dirs%,
		]}

	config.email:
		factory: App\Core\Config\EmailConfig
		arguments: {[
			from: %site.email.from%,
			to: %site.email.to%,
			bcc: %site.email.bcc%,
			returnPath: %site.email.returnPath%,
		]}
